<div class="container-fluid">
    <div class="row align-items-center">
        <div class="m-4 col-2" *ngFor="let p of publicaciones"  (click)="onSelected(publicacion.id)">
          <div class="card" id="todo" *ngIf="p.celular!=null; else pTablet">
            <img src="https://media.wired.com/photos/5b22c5c4b878a15e9ce80d92/master/w_582,c_limit/iphonex-TA.jpg"
              class="card-img-top" alt="Card image cap">
            <div class="card-body CUERPO">
              <h5 class="card-title"><a class="figure-caption" routerLink="/publicaciones/{{p.id}}">{{p.celular.marca}}</a></h5>
              <p class="card-text">{{p.precio}}</p>
              <a href="#" class="btn btn-sm btn-outline-success mr-2">Ver Publicación</a>
              <a href="" class="btn btn-sm btn-outline-danger mr-2"><i class="fa fa-heart"></i></a>
              <a href="" class="btn btn-sm btn-outline-danger mr-2"><i class="fa fa-shopping-cart"></i></a>
            </div>
          </div>
         

          <ng-template #pTablet>
            <div class="card" id="todo">
                <img src="https://cdn.discordapp.com/attachments/580950090446012417/580994728015691797/28004513.png"
                  class="card-img-top" alt="Card image cap">
                <div class="card-body CUERPO">
                  <h5 class="card-title"><a class="figure-caption" routerLink="/publicaciones/{{p.id}}">{{p.tablet.marca}}</a></h5>
                  <p class="card-text">{{p.precio}}</p>
                  <a href="#" class="btn btn-sm btn-outline-success mr-2">Ver Publicación</a>
                  <a href="" class="btn btn-sm btn-outline-danger mr-2"><i class="fa fa-heart"></i></a>
                  <a href="" class="btn btn-sm btn-outline-danger mr-2"><i class="fa fa-shopping-cart"></i></a>
                </div>
            </div>
          </ng-template>
          <div *ngIf="selectedPublicacion">
            <app-publicacion-detail [publicacionDetail]="selectedPublicacion"></app-publicacion-detail>
        </div>
        </div>
</div>
