<div class="container-fluid">
    <div class="row">
        <div class="col">
                <div class="row justify-content-center align-self-center">
                        <button [ngClass]="{ 'btn-success': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                            (click)="showHideCreate()">Crear un publicacion</button>
                    </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="h4">Usuario del publicacion</th> 
                    </tr>
                    
                </thead>
                <tbody>
                    <tr *ngFor = "let publicacion of publicaciones"
                        (click)="onSelected(publicacion.id)">
                        <td style="cursor: pointer;"> 
                <dd>{{publicacion.usuario}}</dd>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <div *ngIf="selectedPublicacion">
                <app-publicacion-detail [publicacionDetail]="selectedPublicacion"></app-publicacion-detail>
            </div>
            <div *ngIf="showCreate">
                    <app-publicacion-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-publicacion-create>
            </div>
        </div>   
    </div>
</div>
