<div class="container-fluid">
  <table class ="table table-striped">
    <thead>
      <tr>
        <th>Id Lista de Deseos</th>
        <th>Costo Estimado</th>
        <th>Tablets</th>
        <th>Celulares</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of listas">
        <td>{{l.id}}</td>
        <td>{{l.costoEstimado}}</td>
        <td><a routerLink="/listasDeDeseos/{{l.id}}">Ver Tablets</a></td>
        <td><a routerLink="/listasDeDeseos/{{l.id}}">Ver Celulares</a></td>
        
      </tr>
    </tbody>
  </table>
  <div class="row justify-content-center align-self-center">
      <a routerLink="/listasDeDeseos/add"><button [ngClass]="{ 'btn-success': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
        (click)="showHideCreate()">Crear una lista de deseos</button></a>
  </div>
</div>