<div class="panel-body">
  <div class="card">
    <br>
    <div class="row" align="center">
      <div class="col"></div>
      <div class="col-2 text-center">
        <img src="../assets/factura.png" class="card-img-top" width="20" height="100">
      </div>
      <div class="col"></div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Referencia: {{facturaDetail.referencia}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Fecha: {{facturaDetail.fecha}}</h6>
      <p class="card-text">Comprador: {{facturaDetail.comprador.usuario}}</p>
      <p class="card-text">Proveedor: {{facturaDetail.proveedor.usuario}}</p>
      <p class="card-text">Precio: {{facturaDetail.publicacion.precio}}</p>
    </div>
  </div>