<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="h4">Referencia de la factura</th> 
                    </tr>
                    
                </thead>
                <tbody>
                    <tr *ngFor = "let factura of facturas"
                    (click)="onSelected(factura.id)">
                    <td style="cursor: pointer;"> 
                <dd>{{factura.referencia}}</dd>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <div *ngIf="selectedFactura">
                <app-factura-detail [facturaDetail]="selectedFactura"></app-factura-detail>
            </div>
        </div>   
    </div>
</div>
