<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Crear un comprador</h2>
        <br>
        <form name="comprador" (ngSubmit)="f.form.valid && createComprador()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="compradorUser"><b>Usuario</b></label>
                <input type="text" name="compradorUser" class="form-control" id="compradorUser" [(ngModel)]="comprador.usuario"
                    #compradorUser="ngModel" [ngClass]="{ 'is-invalid': f.submitted && compradorUser.invalid }" required>
                <div class="invalid-feedback">
                    <div>Falta usuario del comprador</div>
                </div>
            </div>
            <div class="form-group">
                <label for="compradorPassword"><b>Contraseña</b></label>
                <input type="text" name="compradorPassword" class="form-control" id="compradorPassword" [(ngModel)]="comprador.contrasenia"
                    #compradorPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && compradorPassword.invalid }" required>
                <div class="invalid-feedback">
                    <div>Falta contraseña del comprador</div>
                </div>
            </div>
            <div class="form-group">
                <label for="compradorEmail"><b>Correo Electrónico</b></label>
                <input type="text" name="compradorEmail" class="form-control" id="compradorEmail" [(ngModel)]="comprador.correoElectronico"
                    #compradorEmail="ngModel" [ngClass]="{ 'is-invalid': f.submitted && compradorEmail.invalid }" required>
                <div class="invalid-feedback">
                    <div>Falta correo del comprador</div>
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Create</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>