<div class = "container-fluid">
  <div class = "col-md-2">
      
  
    <table class = "table table-striped">
      <thead class = "thead-dark">
        <tr>
          <th>Marca Tablet</th>
          <th>Modelo Tablet</th>
          <th>Referencia Tablet</th>
          <th>Tablet Registrada</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let t of tablets">
          <td style ="cursor: pointer;"><a class="figure-caption" routerLink="/tablets/{{t.referencia}}">{{t.marca}}</a></td>
          <td style ="cursor: pointer;"><a class="figure-caption" routerLink="/tablets/{{t.referencia}}">{{t.modelo}}</a></td>
          <td style ="cursor: pointer;"><a class="figure-caption" routerLink="/tablets/{{t.referencia}}">{{t.referencia}}</a></td>
          <td style ="cursor: pointer;"><a class="figure-caption" routerLink="/tablets/{{t.referencia}}">{{t.registrado}}</a></td>
          <td><i class="fa fa-shopping-cart"></i>              </td>
              <td><button (click)="tabletALista()"><i class="fa fa-heart"></i></button></td>
        </tr>
       
        
      </tbody>
    </table>
    <div class="row justify-content-center align-self-center">
        <a routerLink="/tablets/add"><button [ngClass]="{ 'btn-success': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
          (click)="showHideCreate()">Crear una tablet</button></a>
    </div>
  </div>
</div>
