<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <br>
            <h2 class="text-center">Crear una factura</h2>
            <br>
            <form name="factura" (ngSubmit)="f.form.valid && createFactura()" #f="ngForm" novalidate>
                
                <div class="form-group">
                    <label for="compradorFactura"><b>Comprador</b></label>
                    <select class="custom-select" name="compradorFactura" id="compradorFactura" [(ngModel)]="factura.comprador.id"
                        #compradorFactura="ngModel" [ngClass]="{ 'is-invalid': f.submitted && compradorFactura.invalid }"
                        required>
                        <option [value]="comprador.id" *ngFor="let comprador of compradores">{{comprador.usuario}}</option>
                    </select>
                    <div class="invalid-feedback">
                        <div>Falta el comprador de la factura </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="proveedorFactura"><b>Proveedor</b></label>
                    <select class="custom-select" name="proveedorFactura" id="proveedorFactura" [(ngModel)]="factura.proveedor.id"
                        #proveedorFactura="ngModel" [ngClass]="{ 'is-invalid': f.submitted && proveedorFactura.invalid }"
                        required>
                        <option [value]="proveedor.id" *ngFor="let proveedor of proveedores">{{proveedor.usuario}}</option>
                    </select>
                    <div class="invalid-feedback">
                        <div>Falta el proveedor de la factura </div>
                    </div>
                </div>
                <br>
                <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>
<br>
<br>