.nav-custom{
    background-color: #180D79;
	color: rgb(255, 255, 255);
}

.nav-item{
    background-color: #180D79;
	color: rgb(255, 255, 255);
}

.nav-link{
    background-color: #180D79;
    color: rgb(255, 255, 255);
    font-weight: bold;
}



