<div class="container-fluid">
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#">
            <div class="form-inline">
                <img id="logo" src="../assets/CambiaPhone.PNG"  width="250%" class="center-block">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto mt-0">
                
            </div>
        </div>
    </nav>
    <div>
        <ul class="nav nav-bar nav-custom">
            <li class="nav-item">
                <a id="compradorTag" class="nav-link"  routerLink="/compradores/list">Compradores</a>
            </li>
            <li class="nav-item">
                <a id="proveedorTag" class="nav-link" routerLink="/proveedores/list" >Proveedores</a>
            </li>
            <li class="nav-item">
                <a id="facturaTag" class="nav-link" routerLink="/facturas/list">Facturas</a>
            </li>
            <li class="nav-item">
                <a id="tabletTag" class="nav-link" routerLink="/tablets/list">Tablets</a>
            </li>
            <li class="nav-item">
                <a id="celularTag" class="nav-link" routerLink="/celulares/list">Celulares</a>
            </li>
            <li class="nav-item">
                <a id="carritoTag" class="nav-link" routerLink="/carritoDeCompras/list">Carrito de compras</a>
            </li>
            <li class="nav-item">
            <a id="listaTag" class="nav-link"  routerLink="/listasDeDeseos/list">Lista de deseos </a>
            </li>
            <li class="nav-item">
                <a id="publicacionTag" class="nav-link" routerLink="/publicacion/list">Publicacion</a>
            </li>
            <li class="nav-item">
                <a id="metodoTag" class="nav-link" routerLink="/metodoDePago/list">Metodo De Pago</a>
            </li>
            <div class="navbar-nav ml-auto flex-column">
                    <div class="flex-row" *ngxPermissionsOnly="['GUEST']">
                        <div class="form-inline">
                            <li class="right-space"><a id="signup-navbar-item"  class="nav-link" routerLink="/auth/sign-up"><span class="fa fa-user"></span>
                                    Sign Up</a></li>
                            <li><a id="login-navbar-item" class="nav-link" routerLink="/auth/login"><span class="fa fa-sign-in"></span>Login</a></li>
                        </div>
                    </div>
                    <div class="flex-row" *ngxPermissionsOnly="['COMP', 'PROV', 'ADMIN']">
                        <div class="form-inline">
                            <li><a id="logout-navbar-item" class="nav-link" (click)="logout()" href="#"><span class="fa fa-sign-out"></span>Logout</a></li>
                        </div>
                    </div>
                </div>
        </ul>
        
        
        <router-outlet></router-outlet>
    </div>
    <div>
        <router-outlet></router-outlet>
        <br>
        <br>
    </div>
    <footer class="footer bg-light" id="footer">
        <div class="container">
            <p class="navbar-text text-center">
                <img src="../assets/home.png" alt="logo" width="2%" /><span id="footer-text"></span>
                <a routerLink="/home"> Home </a>
            </p>
        </div>
    </footer>
</div>
