<div class="panel-body">
  <div class="border margin">
    <h2>Precio:  {{publicacionDetail.precio}}</h2>
    <p>Fecha: {{publicacionDetail.fechaPublicacion}}</p>
    <p>linkImagenes: {{publicacionDetail.imagenes}}</p>
    <h4>Facturas</h4>
    <ul class="list-group" *ngFor = "let factura of publicacionDetail.facturasDeCompra">
      <li class="list-group-item">
        Referencia: {{factura.referencia}}
        <br>
        Fecha de expedicion: {{factura.fecha}}
      </li>
    </ul>
  </div>
</div>
