<div class="container-fluid">
  <div class="row align-items-center">
    <div class="m-4 col-2" *ngFor="let c of celulares">
      <div class="card" id="todo" >
        <img src="https://media.wired.com/photos/5b22c5c4b878a15e9ce80d92/master/w_582,c_limit/iphonex-TA.jpg"
          class="card-img-top" alt="Card image cap">
        <div class="card-body CUERPO">
          <h5 class="card-title"><a class="figure-caption" routerLink="/celulares/{{c.imei}}">{{c.modelo}}</a></h5>
          <p class="card-text">{{c.marca}}</p>
          <a href="#" class="btn btn-sm btn-outline-success mr-2">Ver Publicación</a>
          <a href="" class="btn btn-sm btn-outline-danger mr-2"><i class="fa fa-heart"></i></a>
          <a href="" class="btn btn-sm btn-outline-danger mr-2"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
    </div>

  </div>
  <div class="row align-items-center">
    <div class="m-4 col-2" *ngFor="let c of celulares">
      <div class="card" id="todo" >
        <img src="https://media.wired.com/photos/5b22c5c4b878a15e9ce80d92/master/w_582,c_limit/iphonex-TA.jpg"
          class="card-img-top"  alt="Card image cap">
        <div class="card-body CUERPO">
          <h5 class="card-title"><a class="figure-caption" routerLink="/celulares/{{c.imei}}">{{c.modelo}}</a></h5>
          <p class="card-text">{{c.marca}}</p>
          <a href="#" class="btn btn-sm btn-outline-success mr-2">Ver Publicación</a>
          <a href="" class="btn btn-sm btn-outline-danger mr-2"><i class="fa fa-heart"></i></a>
          <a href="" class="btn btn-sm btn-outline-danger mr-2"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
    </div>

  </div>
  
</div>