<br>
<h1 align="center">Compradores</h1>
<br>
<div class="container-fluid ">
    <div class="row align-items-center">
        <div class="col">
            <table class="table table-striped">
                
                <tbody>
                    <tr *ngFor = "let comprador of compradores">
                    <div class="row align-items-center">
                    <div class ="col">
                            <img id="logo" src="../assets/user.png"  width="40%" class="center-block">
                    </div>
                    <div class ="col-3 text-center">
                        <dd>{{comprador.usuario}}</dd>
                    </div>
                    <div class ="col-6 text-center">
                        <dd><button type="button" class="btn btn-link" (click)="onSelected(comprador.id)">Mas información <i class ="fa fa-question-circle"></i></button></dd>
                    </div>
                    <div class ="col-1 text-center" *ngxPermissionsOnly="['ADMIN']">
                            <button class="btn btn-danger" (click)="deleteComprador(comprador.id)"><span class="fa fa-trash"></span></button>
                    </div>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <div *ngIf="selectedComprador">
                <app-comprador-detail [compradorDetail]="selectedComprador"></app-comprador-detail>
            </div>
        </div>   
    </div>
</div>
